{% extends "AB_tests/base_ab_test.html" %}
{% block content %}
<div class="card" style="width: 100%">
  <div class="card-body">
    <h2 class="text-center">Finish A/B Test</h2>
    <div class="grafic d-flex justify-content-center">
      <img src="https://ru-static.z-dn.net/files/d9b/4929deb610861bc06cf74b49ede99d80.png" style="width: 95%">
    </div>
    <form method="post">
      <div class="d-flex justify-content-center">
        <div class="form-group">
          <label for="exampleInputEmail1">Choose the test</label>
          <select>
            <option>Test 1</option>
            <option>Test 2</option>
            <option>Test 3</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="Submit" class="btn btn-primary">Next</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}